.disabled-form-panel {
    opacity: 0.6 !important;
    /* Giảm độ mờ để biểu thị trạng thái vô hiệu hóa */
    cursor: not-allowed !important;
    /* Thay đổi con trỏ chuột để biểu thị trạng thái vô hiệu hóa */
    pointer-events: none !important;
    /* Vô hiệu hóa tất cả các sự kiện chuột */
}


.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(85, 85, 254);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.custom-file-upload:hover {
    background-color: rgb(0, 0, 255);
}

#category-image,
#product-images {
    display: none;
}

.image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid rgb(49, 49, 225);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}